<div class="dashboard">
    <div class="dashboard-header" role="banner" data-cy="cy-header">
        <div class="dashboard-header-actions">
            {{userInformations.userName}}:
            <span class="dashboard-header-actions-role">{{userInformations.userRole}}</span>
            <button (click)="logout()" class="btn btn-primary logout-btn">Logout</button>
        </div>
    </div>
    <div class="dashboard-content" data-cy="cy-content">
        <router-outlet></router-outlet>
    </div>
</div>