.dashboard{
    background-color: #71ba9d;
    width: 100%;
    height: 100%;
    position: relative;
    &-header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #333f4f;
    color: #ffffff;
    font-weight: 500;
    &-logo {
      left: 100px;
      position: absolute;
    }
    &-actions {
      position: absolute;
      right: 100px;
      &-role{
        font-size: 12px
      }
      .logout-btn{
        color:white;
        background-color: #71ba9d;
        margin-left: 2px;
        font-size: 13px
      }
    }
  }
  &-content {
    min-width: 100%;
    min-height: 100%;
  }
}