<div class="invoices">
    <div class="invoices-add-btn">
        <button color="primary" (click)="createInvoice()">
         Create new Invoice
        </button>
    </div>
    <div>
        <p-table [value]="invoices$ | async" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="caption"> Invoices List </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>item</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>paymentStatus</th>
                    <th>paymentType</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-invoice>
                <tr>
                    <td>{{ invoice.item }}</td>
                    <td>{{ invoice.quantity }}</td>
                    <td>{{ invoice.price }}</td>
                    <td>{{ invoice.paymentStatus }}</td>
                    <td>{{ invoice.paymentType }}</td>
                    <td><button (click)="updateInvoice(invoice)">Edit</button></td>
                    <td>
                        <button (click)="deleteInvoice(invoice)">Delete</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<confirm-dialog></confirm-dialog>
<p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '50vw' }">
    <create-invoice></create-invoice>
</p-dialog>