.login-form {
    width: 300px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .is-invalid {
    border-color: red;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 80%;
  }