.login{
width: 100%;
height: 100%;
background-color: #71ba9d;
&-form {
  width: 300px;
  margin: auto;
  padding-top: 100px;
  &-error{
  color: #E30000
  }
}
}
  .form-group {
    margin-bottom: 20px;
  }
  