<div class="invoices">
    <div class="invoices-add-btn">
        <button color="primary" (click)="createInvoice()">
         Create new Invoice
        </button>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>item</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>paymentStatus</th>
                    <th>paymentType</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices$ | async">
                    <td>{{ invoice.item }}</td>
                    <td>{{ invoice.quantity }}</td>
                    <td>{{ invoice.price }}</td>
                    <td>{{ invoice.paymentStatus }}</td>
                    <td>{{ invoice.paymentType }}</td>
                    <td><button (click)="updateInvoice(invoice)">Edit</button></td>
                    <td>
                        <button (click)="dateInvoice(invoice)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>